@charset "utf-8";
/*reset*/
html,body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, form, 
fieldset,legend, input, button, textarea, p, blockquote,
 th, td,section,header,footer,main { margin: 0;padding: 0; box-sizing:border-box;}
ul li{list-style: none;}
a{text-decoration: none;}

html{
	height: 100%;
}
body{
	height: 100%;
	display: flex;
	flex-flow: column;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 360px){
    html {
        font-size: 22.5px !important;
    }
}
@media only screen and (min-width: 375px){
    html {
        font-size: 23.4375px !important;
    }
}
@media only screen and (min-width: 400px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 412px){
    html {
        font-size: 25.75px !important; 
    }
}
@media only screen and (min-width: 414px){
    html {
        font-size: 25.875px !important; 
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size: 40px !important; 
    }
}
